* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-width: 300px;
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

section {
    padding: 5px 5px;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding-left: 10px;
}

.keywords{
    margin: auto;
}

table{
    width: 50%;
}
#navbar {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: rgba(0, 8, 8, 0.4);
}
.head{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head img{
    height: 50px;
    margin-left: 20px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar a {
    display: block;
    padding: 15px 25px;
    color: rgb(11, 12, 12);
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
}

#main-doc {
    margin: 260px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.bc-1 {
    background-color: #fff;
}

#navbar header {
    margin-left: 30px;
    cursor: pointer;
}

#navbar li {
    width: 260px;
    display: block;
    cursor: pointer;
}


@media (min-width:450px) and (max-width:850px) {

    body {
        margin: 10px 5px;
        padding: 5px 5px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}